.profilePage {
  display: flex;
  gap: 2rem;
  height: 85vh;

  .leftSection {
    padding: 5vh;
    width: 50%;
    .visits {
      margin-bottom: 2rem;
    }
  }

  .rightSection {
    padding: 5vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-radius: 8px;

    .userName {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .carsHeader {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .cars {
      width: 100%;
      .carItem {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: #e0e0e0;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }

    .addCarButton {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      background-color: #4CAF50;
      color: white;
      padding: 0.75rem;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

button:hover {
  cursor: pointer;
}

.accordionTrigger {
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.75rem 1rem;
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.accordionContent {
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.accordionItem {
  margin-bottom: 1rem;
}
