.profilePage {
  display: flex;
  gap: 2rem;
  // height: 85vh;

  .leftSection {
    padding: 5vh;
    width: 50%;
    font-size: 5vh;
    font-weight: bold;

    .visits {
      margin-bottom: 2rem;
    }
  }

  .rightSection {
    padding: 5vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 76, 220, 0.55);
    gap: 1rem;

    .icon {
      width: 15vh;
      height: 15vh;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50%;
      padding: 0.5vh;
    }

    .userName {
      margin: 1rem;
      font-size: 5vh;
      font-weight: bolder;
    }

    .carsHeader {
      font-size: 3.5vh;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .cars {
      display: flex;
      flex-direction: column;
      align-items: center; /* Wyśrodkowanie przycisków w poziomie */
      justify-content: center; /* Wyśrodkowanie w pionie jeśli potrzebne */
      width: 20vw;
      gap: 1vh; /* odstęp między przyciskami */

      .carItem {
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 2.5vh;
        width: 100%;
        padding: 1rem;
        border-radius: 8px;
        text-align: center;
        border: 1.5px solid black;
      }

      .carItem:hover {
        background-color: #f0f0f0;
        cursor: pointer;
      }


    Button {
        background-color: white;
        color: black;
        font-weight: bold;
        font-size: 2.5vh;
        width: 100%;
        padding: 1rem;
        margin-top: 1vh;
        border-radius: 8px;
      }

      Button:hover {
        background-color: #f0f0f0; /* Lekki efekt na hover */
      }
    }

  }

}

Button:hover {
  cursor: pointer;
  font-weight: bolder;
  transform: scale(1.05);
}

.workshop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.addCarButton {
  Button {
    font-weight: bold;
    color: black;
    background: none;
    border: 1px solid black;
    font-size: 2.5vh;
    padding: 1rem;
    margin-top: 1vh;
    border-radius: 8px;
  }
}
