.profilePage {
  display: flex;
  gap: 2rem;
  height: 85vh;

  .leftSection {
    padding: 5vh;
    width: 50%;
    font-size: 5vh;
    font-weight: bold;

    .visits {
      margin-bottom: 2rem;
    }
  }

  .rightSection {
    padding: 5vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(40, 76, 220, 0.55);
    gap: 1rem;

    .icon {
      width: 15vh;
      height: 15vh;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 50%;
      padding: 0.5vh;
    }

    .userName {
      margin: 1rem;
      font-size: 5vh;
      font-weight: bolder;
    }

    .carsHeader {
      font-size: 3.5vh;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .cars {
      width: 100%;

      .carItem {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 0.5rem;
        width: 100%;
      }
    }

    .addCarButton {
      margin-top: 1rem;
      width: 100%;
      text-align: center;
      padding: 0.75rem;
      cursor: pointer;

      Button {
        color: black;
        font-weight: bold;
        font-size: 2.5vh;
        width: 15vw;
        height: 6vh;
        background: none;
        border: 1.5px solid black;
      }
    }
  }

}

button:hover {
  cursor: pointer;
}

.workshop {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
