.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10vh 10vw;
}

.aboutText {
    width: 60%;
    text-align: left;
}

.aboutText h2 {
    font-size: 3vw;
    color: #040240;
    font-weight: bold;
    margin-bottom: 2vh;
}

.aboutText p {
    font-size: 1.4vw;
    line-height: 1.6;
    margin-bottom: 2vh;
    color: #333;
}

.appLogo {
    opacity: 70%;
    padding-left: 5vw;
    max-width: 40vw;
    max-height: 40vh;
    object-fit: contain;
}

.textarea {
    width: 80%;
    padding: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
}

.saveButton,
.cancelButton {
    background-color: #284CDC;
    border: 1px solid #2E28DC;
    opacity: 78%;
    font-size: 1.5vw;
    width: 8vw;
    height: 3vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.saveButton:hover,
.cancelButton:hover {
    font-weight: bolder;
    background-color: #2E28DC;
    border-color: #284CDC;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}