.appHeader {
    background: linear-gradient(to right, #040240, #2E28DC);
    height: 12.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 3vw;
    z-index: 800;
}

.appLogo {
    height: 11.5vh;
    width: 11.5vh;
    flex-shrink: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.appLogo:hover {
    transform: scale(1.05);
}

.headerCenter {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    gap: 3vw;
    font-size: 1.3vw;
    flex-grow: 1;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.headerCenter Button,
.headerCenter a {
    font-size: 1.3vw;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0vh 5vw;
    border-radius: 1.5vh;
    text-decoration: none;
    width: 10vw;
    height: 5vh;
}

.headerCenter Button:hover,
.headerCenter a:hover {
    font-weight: bolder;
    transform: scale(1.05);
}

/* Active and inactive states */
.navActive {
    background-color: white;
    color: black;
    transform: scale(1.05);
    font-weight: bolder;
}

.navInactive {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1vw;
    font-size: 1.5vw;
}

.logIn,
.register {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 1.5vh 3vw;
    border-radius: 1.5vh;
    font-size: 1.3vw;
}

.logIn {
    background-color: #e3e3e3;
    color: black;
}

.logIn:hover {
    background-color: #d0d0d0;
    font-weight: bolder;
    transform: scale(1.05);
}

.register {
    background-color: #2c2c2c;
    color: white;
}

.register:hover {
    background-color: #4f4f4f;
    font-weight: bolder;
    transform: scale(1.05);
}